<div class="container">
    <style>
        .card-custom-shadow {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      </style>
    {% if download_links %}
    <div class="streams mt-12">
        <div class="container ">
            <div class="card card-custom-shadow">
              <div class="card-body">
                <div class="heads" style="display: flex; flex-direction: row;">
                    <img width="80px" height="80px"  src="{{stream_image}}" alt="image">
                    <h3>{{video_title}}</h3>
                </div>

                
            <div class="form-group mt-3">
                <label for="downloadSelect">Download Links</label>
                <select class="form-control" id="downloadSelect" onchange="location = this.value;">
                    <option selected disabled>Select a resolution</option>
                    {% for link in download_links %}
                    <option><a class="dropdown-item" download href="{{ link.url }}" >Download {{ link.resolution }} ({{ link.mime_type }})</a></option>
                {% endfor %}
                </select>
            </div>
 

            </div>
          </div>
    </div>
    {% endif %}
</div>
 <!-- Bootstrap Bundle with Popper -->
